<div class="page-title">

  <div class="title-env">
    <h1 class="title">Source</h1>
    <p class="description">Edit source</p>
  </div>

  <div class="breadcrumb-env">

    <ol class="breadcrumb bc-1">
      <li>
        <a href="/"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
        <strong>Source</strong>
      </li>
    </ol>

  </div>

</div>

<%= render 'form' %>

<%= link_to 'Show', @source %> |
<%= link_to 'Back', sources_path %>
