<h1>Listing rules</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= will_paginate @rules %>
