<div class="row">
  <div class="col-sm-12">
    <div class="xe-widget xe-counter">

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Rules</th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

      <%= will_paginate @rules %>
</div>
</div>
</div>


